{{define "spider.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--城市-->
{{range .city}}
    {{.}}
{{end}}
<br>
<!--平台-->
{{range .platform}}
    {{. }}
{{end}}
<br><br>
<!--职位-->

{{range $k, $v := .info}}
    {{range $v}}
        <div>
            <p><a href={{buildUrl .Id $k}}>{{.PositionName}}</a> | {{.CompanyName}} | {{.Salary}}</p>
            <p>{{.WorkingPlace}} | {{.ExperienceRequirement}} | {{.EducationalRequirement}} | {{.CreateTime}}</p>
        </div>
    {{end}}
{{end}}
<script>
    {{if ne .page 1}}
        document.write("<button onclick='last_page()'>上一页</button>");
    {{end}}
    document.write("<button>{{.page}}</button>");
    document.write("<button onclick='next_page()'>下一页</button> ");
</script>
<script>
    function last_page() {
        window.location.href = "http://localhost:5000/upload?page=" + String({{.page}}-2)
    }
    function next_page() {
        window.location.href = "http://localhost:5000/upload?page={{.page}}"
    }
</script>
</body>
</html>
{{end}}