{{define "spider.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--城市-->
{{range .city}}
    {{.}}
{{end}}
<br>
<!--平台-->
{{range .platform}}
    {{. }}
{{end}}
<br><br>
<!--职位-->
{{range .info}}
    {{range $k, $v := .}}
        {{range $i, $iv:= $v}}
            {{if and (eq $i 0) (eq $k "first_info")}} <a href="aaa">{{$iv}}</a>
                {{else}} {{$iv}}
            {{end}}
            {{$i}}
        {{end}}
            {{/*{{with $v}}*/}}
                {{/*{{.}}*/}}
                    {{/*{{end}}*/}}
        <br>
    {{end}}
{{end}}
</body>
</html>
{{end}}